@model paSystem.Models.Lecture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lecture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lectureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lectureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staffID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
